<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<div class="container">
    <h1>What's new?</h1>
    <p>
        From version {{oldSpec.info.version}} to {{newSpec.info.version}}
    </p>

    <h2>Dashboard API Changelog</h2>
    {{#each uniqueNames as |name|}}
    <h3>{{name}}</h3>

        {{#each ../uniqueGroups as |group|}}
            <h4>{{group}}</h4>

            {{#each ../../uniquePaths as |path|}}
            

                {{#each ../../../diff as |diff value|}}
                    {{#ifEquals diff.name name}}
                    {{#ifEquals diff.group group}}                   
                    {{#ifEquals diff.path path}}
                        
                            <h5>
                            {{#if diff.method}}                               
                                <span class="mr-4 badge {{diff.method}}">{{toUpperCase diff.method}}</span>
                                {{else}} 
                                <span class="mr-4 badge all">ALL</span>
                            {{/if}}
                            <codestyle="background-color:lightgray; color:black">{{diff.path}}</code>
                            </h5>                      
                            <strong>{{diff.apiDetails.summary}}</i></strong>
                       
                        <p class="ml-3">
                            {{{diff.messageHtml}}}
                        </p>     
                    {{/ifEquals}} 
                    {{/ifEquals}}  
                    {{/ifEquals}}
                {{/each}}
            {{/each}}
            
        {{/each}}

    {{/each}}


</div>



<style>
    .post {
        background-color: sandybrown
    }

    .get {
        background-color: green
    }

    .put {
        background-color: steelblue
    }

    .delete {
        background-color: tomato
    }

    .all {
        background-color: lightgray
    }
</style>